@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(imgg.jpg); 
    background-size: 100%;
    
}
h2 {
    text-align: center;
}
.NavDolar {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items:center ;
    background-color: rgb(19, 160, 160);
    padding: 25px;
    color:white;
    font-weight: bold;
    transition: all 0.5s ease ;   
}
.NavDolar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 22px;

}



.tabla-css {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    min-width: 600px;
    box-shadow: 0 0 25px #a39e9e;
    border-collapse: collapse;
    position: relative;
    backdrop-filter: blur(30px);
}
.tabla-css thead tr {
    background-color: #94aad1;
    background-color: #2965aa;
    color:#e8eaec;
    text-align: center;
    font-size: 20px;
}
.tabla-css th,
.tabla-css td {
    padding: 20px 20px;
    text-align: center;
}
.tabla-css tbody tr:nth-of-type(even){
 background-color: #0845a02c;   
}
.fondo {
    position: absolute;
}
.navbar {
    background-color: #336d94;
    padding-top: 20px; 
    font-size: 40px;

}
.logo {
    color : white; 
    font-size: 28px;
    
}

span{
    color: #FEBA0B;
    

}