@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.hero{
height: 100%;
width: 100%;
background-color: rgb(19, 160, 160);

background-size:cover ;
background-position: center;
}
nav{
    display :flex ;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Poppins', sans-serif;

}
.logo {
    color : white; 
    font-size: 28px;
    
}

span{
    color: #FEBA0B;
    

}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    
}
nav ul li a{
color: white;
text-decoration: none;
font-weight: bold;

}
nav ul li a:hover{ 
    color: #FEBA0B;

transition: 0.3s;
}
nav .submenu{
    background: #fff;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
}
nav .submenu li a{
    line-height: 50px;
}
nav ul li a:hover + ul, nav .submenu:hover{
    display: block;
}
  /* ---FIN DEL NAVBAR---FOCUS-  */


 /*Texto e imagen areba del wave */
 .container__cover{  
     background-color: rgb(6, 149, 149);
    max-width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;

    *background-image: url(../images/background-cover.svg);
    background-size: cover;
    background-position: bottom;
}

 /*Div de info Dental DATE¿ Ya sos cliente ?*/
.cover .container__info{
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
}
 /*DENTAL*/
.cover h1{
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: #fff;
}
 /*DATE*/
.cover h2{
    font-size: 60px;
    font-weight: 900;
    color: #FEBA0B;
    margin-top: -30px;
}
/* Ya sos cliente registrate asi te llen */
.cover p{
    margin-top: 10px;
    color: #fff;
}
 /*botones registrate y turno*/
.cover button [type="button"]{
  
}
button{
      padding: 10px 40px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: white;
    background: #FEBA0B;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
}
button a {
    color: white;
}

.cover input[type="button"]:hover{
    box-shadow: 1px 1px 30px -5px #20202085;
}

.container__vector{
    position: relative;
}
 /*La imagen */
.container__vector img{
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 600px;
    transition: all 300ms;
    animation: move_vector 6s ease-in-out infinite;
}
/* la seccion de las card */
.container__cards{
    background-color: rgb(183, 226, 216);
    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 20%;
    
    
}

.card{
    width: 350px;
    margin: 10px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover{
    transform: translateY(-10px);
}

.card:hover .cover__card img{
    transform: scale(1.1);
}

.cover__card{
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
}

.cover__card img{
    width: 110%;
    transition: all 300ms;
}

.card h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    
}

.card p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: rgb(11, 138, 197);
    letter-spacing: 0.5px;
}

.card hr{
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: #41414138;
}

.footer__card{
    margin-top: 10px;
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.footer__card h3{
    font-size: 15px;
    font-weight: 500;
}
/* ------------AQUI LAS SUCURSALES--------------------------------- */

.sucur {
    background-color: aquamarine;
    padding: 1em;
    overflow: hidden;
}
.sucursales {
    background-color: #12a073;
    margin: 1em;
    padding: 1em;
    float: left;
    border-radius: 5%;
    text-decoration: none;
    list-style: none;
    color: #e9f1ef;
    text-align: center;
}

/*AQUI COMIENZA EL FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
   /*  background-color: var(--color-esqueleto); */
    background-image: url("../Images/background-footer.svg");
    background-size: cover;

    /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}


.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-top: 100px;
  
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/* .container_all{
    position: relative;
    right: 0;
    transition: all 300ms;
} */


/* .header{
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transition: all 300ms;
}

.move_content{
    right: 180px;
} */


/* .container__header{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
} */

/* header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img{
    width: 150px;
} */




/* .nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li{
    margin: 0px 20px;
}

.nav ul li a{
    color: #fff;
    font-size: 14px;
}
-----------------------------------------------
.container__nav{
    display: flex;
    justify-content: center;
    align-items: center;
 }



 .nav{
     height: 100%;
     background: #F1FAFF;
     position: fixed;
     top: 0;
     right: -180px;
     padding: 0px 40px;
     transition: all 300ms;
 } */