@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}

body {
    background:  rgb(19, 160, 160);
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}
/*--------------------------------------------navbar-----------*/
.hero{
height: 100%;
width: 100%;
background-color: rgb(19, 160, 160);

background-size:cover ;
background-position: center;
}
nav{
    display :flex ;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
    z-index:2 ;
    width: 100%;
   

}
.logo {
    color : white; 
    font-size: 28px;
    
}

span{
    color: #FEBA0B;
    /*---------------NAVBAR ------------------*/

}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    z-index: 2;
   
}
nav ul li a{
color: white;
text-decoration: none;
font-weight: bold;

}
nav ul li a:hover{ 
    color: #FEBA0B;

transition: 0.3s;
}
.menu a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
   
    transition: all 500ms ease;
    z-index: 2;
   
}
.menu a:hover{
    background: #09a16c;
    color: #fff;
    border-radius: 30%;
}
.menu .submenu{
    background: #fff;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    
    z-index: 4;
}
.menu .submenu li a{
    line-height: 50px;
    float: none;

}
.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
    z-index: 2;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
              
}
/*-------------------------------FIN DE NAVBAR----------*/
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color:black;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: rgb(19, 160, 160);
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: black;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: white;
    color: #12a073;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}

