@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	/* font-smoothing:antialiased; */
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:rgb(19, 160, 160);
}
.hero{
height: 100%;
width: 100%;
background-color: rgb(19, 160, 160);

background-size:cover ;
background-position: center;
}
nav{
    display :flex ;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
    z-index:2 ;
    width: 100%;
   

}
.logo {
    color : white; 
    font-size: 28px;
    
}

span{
    color: #FEBA0B;
    /*---------------NAVBAR ------------------*/

}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    z-index: 2;
   
}
nav ul li a{
color: white;
text-decoration: none;
font-weight: bold;


}
nav ul li a:hover{ 
    color: #FEBA0B;

transition: 0.3s;
}
.menu a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
   
    transition: all 500ms ease;
    z-index: 2;
   
}
.menu a:hover{
    background: #09a16c;
    color: #fff;
    border-radius: 30%;
}
.menu .submenu{
    background: #fff;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    
    z-index: 4;
}
.menu .submenu li a{
    line-height: 50px;
    float: none;

}
.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
    z-index: 2;
}
  /* ---FIN DEL NAVBAR---FOCUS-  */
.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;

        

}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

.contact h3 {
	color:#000;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.caja{
   background-color: white;
   max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 50px;
    margin: 50px;
    
}
.contact-wrapper {
 box-shadow: 0 0 15px 10px black;
}
/*.NavDolar {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items:center ;
    background-color: rgb(22, 167, 167);
    padding: 25px;
    color:white;
    font-weight: bold;
    transition: all 0.5s ease ;   
    font-family: 'Poppins', sans-serif;
    
}
.NavDolar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 22px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}*/
