<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos de hoy</title>

    <link rel="stylesheet" href="/adminTurnos.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</head>
<body>

    <nav class="NavDolar">
      <h2 class="logo">Dental <span>Date</span> Admin </h2>
        <ul class="ul">
                 
            <li> <a href="a" th:href="@{/admin/registroOdo}"  ></a>Registrar odontologo</li>
            <li> <a href="a"></a> Proveedores</li>
            <li> <a href="a"  th:href="@{/admin/adminTurnos}" ></a> Turnos de Hoy</li>
            <li> <a href="a"></a> Pacientes</li>
            <li> <a href="a"></a> Odontologos</li>
            <li> <a href="a"></a> cerrar session</li>
           
        </ul>
    </nav>
 
     
    <table class="tabla-css">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Turno</th>
                <th>Odontologo</th>
            </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>

    <script src="app.js"></script>
</body>
</html>


<!-- 
  <div class="hero">
    <nav >
        <h2 class="logo">Dental <span>Date</span>  </h2>

        <ul>
            <li><a href="#">PROVEEDORES</a></li>
            <li><a href="#"th:href="@{/admin/Turnos}">TURNOS DE HOY</a></li>
            <li><a href="#">PACIENTES</a></li>
            <li><a href="#registro">REGISTRAR ODONTOLOGO</a></li>
        </ul>
    </nav>
</div>
  


        <section id="info">
            <h1>Turnos</h1>

            <div class="infoTurnos">
                
            </div>
            <table>
                <tr  >
                  <td><strong>Paciente</strong></td>
                  <td><strong>turno</strong></td>
                  <td><strong>odontologo</strong></td>
                  <td></td>
                </tr>
                <tr th:each="paciente : ${listarPacientes}" >
                    <td th:text="${paciente.nombre}"  ><strong> </strong></td>
                    <td  th:text="${turno.dia}" ><strong>hora</strong></td>
                    <td  th:text="${odontologo.nombre}"  ><strong>Dr. Juan</strong></td>
                    <td></td>
                    <td></td>
                  </tr>
            </table>
            
             <button   >  <a  th:href="@{/login?logout} " method="POST"  > cerrar sesion </a>  </button>
        </section>

 -->






</body>
</html>