<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="form-styles.css">
  <title>Document</title>
</head>
<body>
  <div class="container">  
    <form id="contact" action="" method="post">
      <h3>Registrate</h3>
      <h4>Registrate para recibir beneficions</h4>
      <fieldset>
        <input placeholder="Ingrese nombre" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Ingrese Email" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Ingrese numero de telefono" type="tel" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Ingrese DNI" type="url" tabindex="4" required>
      </fieldset>
    
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Guardar</button>
      </fieldset>
    </form>
   
    
  </div>
</body>
</html>






