<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental Date</title>

    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</head>
<body>


   <div class="hero">
                <nav class="menu" >
                    <h2 class="logo">Dental <span>Date</span>  </h2>
                     
                    <ul>
                        <li><a href="#" class="select" th:href="@{/formTurno}">TURNO</a></li>
                        <li><a href="#sucursales">SUCURSALES</a></li>
                     
                        <li><a href="#">CONTACTO</a></li>
                        <li><a href="#">TRABAJA CON NOSOTROS</a></li>
                        <li><a href="#">Usuario <i class="icon-abajo2"></i></a>
                            <ul class="submenu">
                                <li><a th:href="@{/admin/adminTurnos}">
                                    Admin
                                </a></li>
                                <li><a th:href="@{/logyou}">
                                    Cerrar Session
                                </a></li>
                              
                            </ul>
                            </li>
                    </ul>
                </nav>
     </div>

   
    <div class="container_all" id="container__all">
        <div class="cover">

            <!--INICIO WAVE-->

                <div class="bg_color"></div>
                <div class="wave w1"></div>
                <div class="wave w2"></div>

            <!--FINAL WAVE-->

            <div class="container__cover">
                <div class="container__info">
                    <h1>DENTAL</h1>
                    <h2>DATE</h2>
                    <p>si sos paciente inicia sesion</p> 
                      <button   >  <a  th:href="@{/login}"   >  Iniciar sesion </a>  </button>
                    <button   >  <a  th:href="@{/formulario} "   >  Registrate </a>  </button>
                </div>
                <div class="container__vector">
                    <img src=" " alt="">
                </div>
            </div>
        </div>



        

        <!-- NO TOCAR ÉSTE CÓDIGO...> AQUÍ TE DEJO EL TUTORIAL PARA QUE HAGAS ESTE CÓDIGO:
        https://youtu.be/0V1Bs5nV6uo -->
        <section>
            <div class="container__cards">
                <div class="card">
                    <div class="cover__card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkYZv7kV7Bqv2xpuVjR9wWJoJZOEWO7YmBGv9u_Zuj-H700vYN3nFRHATQ_2BuxQDGd6M&usqp=CAU" alt="">
                    </div>
                    <h2>Ortodoncia</h2>
                    <p>La ortodoncia es una especialidad de la odontología que se encarga de todo el estudio, prevención, diagnóstico y tratamiento de las anomalías de forma, posición, relación y función de las estructuras dentomaxilofaciales.</p>
                    <hr>
                    <div class="footer__card">
                        <h3 class="user__name">Dr. Casco</h3>
                        
                    </div>
                </div>
                <div class="card">
                    <div class="cover__card">
                        <img src="https://clinicadentalmadridrio.com/wp-content/uploads/2020/10/Sin-t%C3%ADtulo-1.jpg" alt="">
                    </div>
                    <h2>Diagnostico</h2>
                    <p>Confía en nuestros expertos para obtener un diagnóstico preciso y el plan adecuado para ti la primera vez.</p>
                    <hr>
                    <div class="footer__card">
                        <h3 class="user__name">La mas avanzada tecnologia</h3>
                        
                    </div>
                </div>
                <div class="card">
                    <div class="cover__card">

                        <img src="https://dentistaentuciudad.com/noticias-dentales/wp-content/uploads/2020/08/opciones-odontologos.jpg" alt="">

                        <img src="img/img-1.jpg" alt="">

                    </div>
                    <h2>Profesionales</h2>
                    <p>Toda la atención Odontologica a nuestros pacientes, la educación y la investigación están orientadas a realizar descubrimientos que puedan ayudar a que te recuperes y consiga los mejores resultados</p>
                    <hr>
                    <div class="footer__card">
                        <h3 class="user__name">Todas las especialidades</h3>
                        
                    </div>
                </div>
            </div>
  <section class="sucur">
            <ol >
                <ol class="sucursales">
                    <li class="zona">SUCURSAL MORÓN</li>
                    <li>Dirección: Av. Rivadavia 17961, Morón, Provincia de Buenos Aires</li>
                    <li>Teléfono: 011 5414-8194</li>
                    <li>Provincia: Provincia de Buenos Aires</li>
                    <li><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.2183318634175!2d-58.61907478519362!3d-34.64918866741158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc763e49e426f%3A0x87ffed140c2ef6e1!2sAv.%20Rivadavia%2017961%2C%20Mor%C3%B3n%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1652128917205!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li>
                </ol>
                
                <ol class="sucursales">
                    <li class="zona">SUCURSAL ITUZAINGÓ</li>
                    <li>Dirección: Sta. Rosa 508, B1714 Ituzaingó, Provincia de Buenos Aires</li>
                    <li>Teléfono: 011 4959-0550</li>
                    <li>Provincia: Provincia de Buenos Aires</li>
                    <li><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.105441238231!2d-58.66130568519347!3d-34.6520399675626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbf5989eef59f%3A0x36dce3ef53ef7ba6!2sSim%20Centro%20M%C3%A9dico!5e0!3m2!1ses-419!2sar!4v1652129722391!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li>
                </ol>

                <ol class="sucursales">
                    <li class="zona">Sucursa CABA</li>
                    <li>Dirección: Av. Juan Bautista Alberdi 439, C1424BYE CABA</li>
                    <li>Teléfono: 011 4959-0550</li>
                    <li>Provincia: Provincia de Buenos Aires</li>
                    <li><p></p></li>
                    <li><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.263643153439!2d-58.43605398476985!3d-34.6227772804546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbf8b3c48eb5d%3A0xfe165ca94fab44cf!2sAv.%20Juan%20Bautista%20Alberdi%20439%2C%20C1424BYE%20CABA!5e0!3m2!1ses-419!2sar!4v1652129817788!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li>
                </ol>
                
            </ol>

        </section>
       
       
<!--            <div class="container__article">
                <div class="box__article"> <h1>Consultorios</h1> 
                   
                <div class="box__article">Ortodoncia </div>
                <div class="box__article">sucursales </div>
                <div class="box__article">beneficios </div>
                <div class="box__article">Obra sociales </div>
               
            </div>-->
<!--            <div class="container-testimonials">
                <div class="box__testimonials">asdasdsadasdasdas</div>
                <div class="box__testimonials"> que es eso  </div>
                <div class="box__testimonials"></div>
            </div>
        </div>-->
        <!-- el footer  -->
        <Footer>
            <div class="container__footer">

                <div class="box__footer">
                    <div class="logo">
                        <img src="Images/logo-magtimus.png" alt="">
                    </div>
                    <div class="terms">
                        ¿Por qué elegirnos?
Profesionales especializados 
Materiales importados
Atención personalizada durante todo el tratamiento
                    </div>
                </div>

                <div class="box__footer">
                    <h2>Soluciones</h2>
                    <a href="#">Niños</a>
                    <a href="#">Adultos</a>
                    <a href="#">Obra Sociales</a>
                    <a href="#">Otros</a>
                </div>

                <div class="box__footer">
                    <h2>Compañia</h2>
                    <a href="#">Contacto</a>
                    <a href="#">Ortodoncia>
                    <a href="#">Procesos</a>
                    <a href="#">Servicios</a>              
                </div>

                <div class="box__footer">
                    <h2>Redes Sociales</h2>
                    <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
                    <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                    <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                    <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
                </div>
            </div>

            <div class="box__copyright">
                <hr>
                <p>Todos los derechos reservados © 2022 <b>Dental Date</b></p>
            </div>
        </Footer>

</div>

    <script src="js/script.js"></script>
</body>
</html>