<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos | Dental Date</title>

    <link rel="stylesheet" href="estilos/index.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</head>
<body>

   <div class="hero">
                <nav >
                    <h2 class="logo">Dental <span>Date</span>  </h2>
                     
                    <ul>
                        <li><a href="#" class="select">TURNO</a></li>
                        <li><a href="#">SUCURSALES</a></li>
                        <li><a href="#">SERVICIOS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                        <li><a href="#">ISAUREA CON NOSOTROS</a></li>
                        <li><a href="#">REGISTRATE</a></li>
                    </ul>
                </nav>
     </div>

    <div class="container_all" id="container__all">
        <div class="cover">

            <!--INICIO WAVE-->

                <div class="bg_color"></div>
                <div class="wave w1"></div>
                <div class="wave w2"></div>

            <!--FINAL WAVE-->

            <div class="container__cover">
                <div class="container__info">
                    <h1>DENTAL</h1>
                    <h2>DATE</h2>
                    <p>Ya sos cliente registrate asi te llenamos la casilla de spam</p> 
                    <input type="button" value="Solicitar Turno">
                    <input type="button" value="Registrate">
                </div>
                <div class="container__vector">
                    <img src=" " alt="">
                </div>
            </div>
        </div>



        <section id="info">
            <h1>Turnos</h1>

            <div class="infoTurnos">
                
            </div>
            <table>
                <tr>
                  <td><strong>Paciente</strong></td>
                  <td><strong>turno</strong></td>
                  <td><strong>odontologo</strong></td>
                  <td></td>
                </tr>
                <tr>
                    <td><strong>nombre</strong></td>
                    <td><strong>hora</strong></td>
                    <td><strong>Dr. Juan</strong></td>
                    <td></td>
                    <td></td>
                  </tr>
            </table>
        </section>







        </section>
        <div class="body__Page">
            <div class="container__article">
                <div class="box__article"> <h1>Consultorios</h1> 
                   
                <div class="box__article">Ortodoncia </div>
                <div class="box__article">sucursales </div>
                <div class="box__article">beneficios </div>
                <div class="box__article">Obra sociales </div>
               
            </div>
            <div class="container-testimonials">
                <div class="box__testimonials">asdasdsadasdasdas</div>
                <div class="box__testimonials"> que es eso  </div>
                <div class="box__testimonials"></div>
            </div>
        </div>
        <!-- el footer  -->
        <Footer>
            <div class="container__footer">

                <div class="box__footer">
                    <div class="logo">
                        <img src="Images/logo-magtimus.png" alt="">
                    </div>
                    <div class="terms">
                        ¿Por qué elegirnos?
Profesionales especializados 
Materiales importados
Atención personalizada durante todo el tratamiento
                    </div>
                </div>

                <div class="box__footer">
                    <h2>Soluciones</h2>
                    <a href="#">App Desarrollo</a>
                    <a href="#">App Marketing</a>
                    <a href="#">IOS Desarrollo</a>
                    <a href="#">Android Desarrollo</a>
                </div>

                <div class="box__footer">
                    <h2>Compañia</h2>
                    <a href="#">Acerca de</a>
                    <a href="#">Ortodoncia>
                    <a href="#">Procesos</a>
                    <a href="#">Servicios</a>              
                </div>

                <div class="box__footer">
                    <h2>Redes Sociales</h2>
                    <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
                    <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                    <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                    <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
                </div>
            </div>

            <div class="box__copyright">
                <hr>
                <p>Todos los derechos reservados © 2022 <b>Dental Date</b></p>
            </div>
        </Footer>

</div>

    <script src="js/script.js"></script>
</body>
</html>