


<section id="contacto">
    <h1></h1>
    <form action="@{/guardarLogin}" method="post" enctype="multipart/form-data">
        <label>
            Usuario
            <input type="text" name="usuruario" id="usuario" required placeholder="Ingrese su usuario">
        </label>
        <label>
            Contraseña
            <input type="password" name="contraseña" id="contraseña" required placeholder="Ingrese su contraseña">
        </label>
        <label>
            <input class="enviar" type="submit" value="Enviar">
        </label>
    </form>
</section>   


