<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Bienvenidos | Dental Date</title>

            <link rel="stylesheet" href="/formOdo.css">
            <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
            


        </head>
        <body>
<!--              FALTA EL NAVABR-->

            <div class="container">  
                <form id="contact" th:action="@{/admin/registroOdo}" method="post">
                  <h3>Registro</h3>
                  <h4>Registrar nuevo Odontologo o Empleado</h4>
                  <fieldset>
                    <input placeholder="Ingrese nombre" name="nombre" type="text" tabindex="1" required autofocus>
                  </fieldset>
                  <fieldset>
                    <input placeholder="Ingrese apellido" type="text" name="apellido" tabindex="2" required autofocus>
                  </fieldset>
                  <fieldset>
                    <input placeholder="Ingrese dni" type="text" name="Dni" tabindex="3" required>
                  </fieldset>
                  <fieldset>
                    <input placeholder="Ingrese Email" type="email" name="email" tabindex="4" required>
                  </fieldset>
                  <fieldset>
                    <input placeholder="Ingrese contraseña" type="password" name="contraseña" tabindex="5" required>
                  </fieldset>
                  <fieldset>
                    <input placeholder="Ingrese especialidad" type="text" name="contraseña" tabindex="6" required>
                  </fieldset>
                  <fieldset>
                    <input placeholder="Ingrese matricula " type="text" name="contraseña" tabindex="7" required>
                  </fieldset>
                  <fieldset>
                      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Guardar <a    > </a>  </button>
                  </fieldset>
                </form>
               



            <!-- <div class="hero">
                <nav >
                    <h2 class="logo">Dental <span>Date</span>  </h2>

                    <ul>
                        <li><a href="#">PROVEEDORES</a></li>
                        <li><a href="#"th:href="@{/admin/Turnos}">TURNOS DE HOY</a></li>
                        <li><a href="#">PACIENTES</a></li>
                        <li><a href="#registro">REGISTRAR ODONTOLOGO</a></li>
                    </ul>
                </nav>
            </div>



            <section id="registro">
                <h1></h1>
                <form th:action="@{/admin/registroOdo}" method="POST">
                    <label>
                        nombre
                        <input type="text" name="nombre" id="nombre" required placeholder="Ingrese su nombre">
                    </label>
                    <label>
                        Apellido
                        <input type="text" name="apellido" id="apellido" required placeholder="Ingrese su apellido">
                    </label>
                    <label>
                        email
                        <input type="email" name="email" id="email" required placeholder="Ingrese su email">
                    </label>
                    <label>
                        contraseña
                        <input type="password" name="contraseña" id="contraseña" required placeholder="Ingrese su contraseña">
                    </label>
                    <label>
                        N° de Matricula
                        <input type="text" name="matricula" id="matricula" required placeholder="Ingrese su matricula habilitante">
                    </label>
                    <label>
                        Especialidad
                        <input type="text" name="especialidad" id="especialidad" required placeholder="Ingrese su especialidad">
                    </label>
                    <label>
                        <button name="enviar" type="submit" id="contact-submit" data-submit="...Sending">enviar <a    > </a>  </button>
                    </label>
                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Usuario invalido!
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success" role="alert">
                        You have been logged out.
                    </div>
                </form>
            </section>   
 -->


        </body>
    </html>