<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales | Dental Date</title>

    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</head>
<body>

   <div class="hero">
                <nav >
                    <h2 class="logo">Dental <span>Date</span>  </h2>
                     
                    <ul>
                        <li><a href="#" class="select">TURNO</a></li>
                        <li><a href="#">SUCURSALES</a></li>
                        <li><a href="#">SERVICIOS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                        <li><a href="#">TRABAJA CON NOSOTROS</a></li>
                        <li><a href="#">REGISTRATE</a></li>
                    </ul>
                </nav>
     </div>

    <div class="container_all" id="container__all">
        <div class="cover">

            <!--INICIO WAVE-->

                <div class="bg_color"></div>
                <div class="wave w1"></div>
                <div class="wave w2"></div>

            <!--FINAL WAVE-->

            <div class="container__cover">
                <div class="container__info">
                    <h1>DENTAL</h1>
                    <h2>DATE</h2>
                    <p>SI SOS PACIENTE, INICIA SESIÓN</p> 
                    <input type="button" value="Iniciar sesion">
                    <input type="button" value="Registrate">
                </div>
                <div class="container__vector">
                    <img src=" " alt="">
                </div>
            </div>
        </div>



        

     
        <section>
            <ol >
                <ol class="sucursales">
                    <li class="zona">SUCURSAL MORÓN</li>
                    <li>Dirección: Av. Rivadavia 17961, Morón, Provincia de Buenos Aires</li>
                    <li>Teléfono: 011 5414-8194</li>
                    <li>Provincia: Provincia de Buenos Aires</li>
                    <li><img class="fotoSucursal" src="img\sucursal1.jpg"></li>
                </ol>
                
                <ol class="sucursales">
                    <li class="zona">Sucursa Ituzaingó</li>
                    <li>Dirección: Sta. Rosa 508, B1714 Ituzaingó, Provincia de Buenos Aires</li>
                    <li>Teléfono: 011 4959-0550</li>
                    <li>Provincia: Provincia de Buenos Aires</li>
                    <li><img class="fotoSucursal" src="img\sucursal2.jpg" ></li>
                </ol>

                <ol class="sucursales">
                    <li class="zona">Sucursa CABA</li>
                    <li>Dirección: Av. Juan Bautista Alberdi 439, C1424BYE CABA</li>
                    <li>Teléfono: 011 4959-0550</li>
                    <li>Provincia: Provincia de Buenos Aires</li>
                    <li><p></p></li>
                    <li><img class="fotoSucursal" src="img\sucursal3.jpg" ></li>
                </ol>
                
            </ol>

        </section>

        <!-- el footer  -->
        <Footer>
            <div class="container__footer">

                <div class="box__footer">
                    <div class="logo">
                        <img src="Images/logo-magtimus.png" alt="">
                    </div>
                    <div class="terms">
                        ¿Por qué elegirnos?
Profesionales especializados 
Materiales importados
Atención personalizada durante todo el tratamiento
                    </div>
                </div>

         
</body>
</html>